html{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	background-color: #39274F;
}

													/*Header*/
header{
	position: fixed;
	top: 0;
	min-width: 100%;
	height: 5vh;
	z-index: 1;
	background: #87DA2A;
}

#logo{
	position: absolute;
	top: 0.5vh;
	left: 0.5vh;
	width: 4.5vh;
	height: 4vh;
	border-radius: 30px;
}

.user{
	position: absolute;
	width: auto;
	height: 5vh;
	right: 10.5vw; /*сделать выравнивание по правому краю*/

	visibility: hidden;
}

#userImg{
	position: relative;
	top: 0.5vh;
	width: 4.5vh;
	height: 4vh;
	border-radius: 30px;
	margin: 0 1vh 0 0;
}

#userName{
	position: fixed;
	top: 1vh;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	color: #39274F;
}

#exitHeaderButton{
	position: absolute;
	top: 0.5vh;
	right: 0.5vh;
	width: 4vh;
	height: 4vh;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;

	color: #87DA2A;
	background: #39274F;

	visibility: hidden;
}

#signUpHeaderButton{
	position: absolute;
	top: 0.5vh;
	right: 0.5vh;
	height: 4vh;
	border: 0;
	border-radius: 30px;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;

	color: #87DA2A;
	background: #39274F;

	visibility: hidden;
}

													/*Main*/
main{
	position: relative; /*сделать так, чтобы header и main соприкосались*/
	width: auto;
}

													/*CreateButton*/
#createButton{
	position: absolute;
	top: 7vh;
	left: 30vw;
	width: 40vw;
	height: 4vh;
	border: 0;
	margin: 0 0 2vh 0;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	
	/* Violet*/
	color: #39274F;
	/* Green */
	background: #87DA2A;

	visibility: hidden;
}

													/*Filters*/
.filters{
	position: fixed;
	top: 7vh;
	left: 73vw;
	z-index: 1;

	display: flex;
	flex-direction: column;
}

.filters input{
	position: relative;
	width: 10vw;
	height: 4vh;
	margin-bottom: 0.5vh;
	border: 0;
	/* Green */
	background: #87DA2A;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	/* Violet*/
	color: #39274F;
}

												/*Post*/
.post{
	position: relative;
	top: 7vh;
	left: 30vw;
	width: 40vw;
	margin: 0 0 1vh 0;

	/* Green */
	background: #87DA2A;
}

.author{
	position: relative;
	width: 40vw;
	height: 5vw;
	display: inline-block;
}

.authorImg{
	position: absolute;
	width: 3vw;
	height: 3vw;
	margin: 1vw 0 1vw 1vw;
}

.authorInfo{
	position: relative;
	left: 5vw;
	width: 32vw;
	height: 3.75vw;
}

.authorName{
	position: relative;
	margin: 1.25vw 0 0 0;

	font-family: Rosario;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25vh;
	/* Violet*/
	color: #39274F;
}

.datetime{
	position: relative;
	margin: 0 0 0 0;
	float: bottom;

	font-family: Rosario;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25vh;
	/* Violet*/
	color: #39274F;
}

.post .content{
	position: relative;
	width: 38vw;
	padding: 0 1vw 2vh 1vw;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	/* Violet*/
	color: #39274F;
}

.post .hashTags{
	position: relative;
	width: 38vw;
	padding: 0 1vw 2vh 1vw;
	
	font-family: Rosario;
	font-style: italic;
	font-weight: normal;
	font-size: 1vw;
	/* Violet*/
	color: #39274F;
}

/*Исправить положение лайка*/
.post .likeImg {
	position: absolute;
	bottom: 1vh;
	right: 0.5vw;
	width: 1.25vw;
	height: 1.25vw;
	margin: 0 0 0 0;
}

.deleteImg{
	position: absolute;
	top: 0.5vw;
	right: 0.5vw;
	width: 1vw;
	height: 1vw;

	visibility: hidden;
}

.editImg{
	position: absolute;
	top: 0.5vw;
	right: 2vw;
	width: 1vw;
	height: 1vw;

	visibility: hidden;
}

/*сделать так чтобы фильтр и кнопка не пересекались*/
#updateButton{
	position: relative;
	left: 73vw;
	width: 3vw;
	height: 3vw;
	border-radius: 30px;
}

												/*Footer*/
/*сделать так чтобы фильтр и футер не пересекались*/
footer{
	position: relative;
	min-width: 100%;
	height: 5vh;
	margin: 9vh 0 0 0;
	text-align: center;
}

span{
	position: relative;
	margin: 0 1vw;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	/* Green */
	color: #87DA2A;
}

													/*Sign Up Window*/
.signUpWindow{
	position: fixed;
	top: 12.5vh;
	left: 12.5vw;
	height: 75vh;
	width: 75vw;
	z-index: 3;
	border: 1vw solid #F2E34E;
	/* Violet*/
	background: #39274F;

	visibility: hidden;
}

.signUpWindow h1{
	position: absolute;
	top: 5vh;
	left: 32.5vw;
	margin: 0;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
	/* Green */
	color: #87DA2A;
}

.signUpWindow #signUpLogin{
	position: absolute;
	top: 20vh;
	left: 27.5vw;
	height: 5vh;
	width: 20vw;
	z-index: 1;
	text-align: center;
	border: 0;
	/* Green */
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	/* Violet*/
	color: #39274F;
}

.signUpWindow #signUpPassword{
	position: absolute;
	top: 27vh;
	left: 27.5vw;
	height: 5vh;
	width: 20vw;
	z-index: 1;
	text-align: center;
	border: 0;
	/* Green */
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	/* Violet*/
	color: #39274F;
}

.signUpWindow #signUpWindowButton{
	position: absolute;
	top: 50vh;
	left: 27.5vw;
	height: 5vh;
	width: 20vw;
	z-index: 1;
	text-align: center;
	border: 0;
	/* Green */
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	/* Violet*/
	color: #39274F;
}

#closeSignUpButton{
	position: absolute;
	top: 1.5vh;
	right: 1vw;
	height: 4vh;
	width: 2vw;
}

#signUpBackImg{
	position: absolute;
	top: 20vh;
	left: 25vw;
	height: 40vh;
	width: 25vw;
}

													/*Post Creation Window*/
#creationPostWindow{
	position: fixed;
	top: 12.5vh;
	left: 12.5vw;
	height: 75vh;
	width: 75vw;
	border: 0.5vh solid #F2E34E;
	z-index: 3;
	background: #39274F;

	visibility: hidden;
}

#creator{
	position: relative;
	width: 75vw;
	height: 10vh;
}

#creatorImg{
	position: relative;
	width: 8vh;
	height: 8vh;
	margin: 1vh 0 0 1vh;
}

#creationPostWindow span{
	position: relative;
	bottom: 2.5vh;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: #87DA2A;
}

#creationContent{
	position: absolute;
	top: 10vh;
	left: 0.5vw;
	height: 39vh;
	width: 74vw;
	padding: 0;
	margin: 0;
	border: 0;
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: #39274F;
}

#creationTags{
	position: absolute;
	bottom: 10vh;
	left: 0.5vw;
	height: 15vh;
	width: 74vw;
	padding: 0;
	margin: 0;
	border: 0;
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: #39274F;
}

#publishButton{
	position: absolute;
	bottom: 2vh;
	left: 27.5vw;
	height: 6vh;
	width: 20vw;
	border: 0;
	border-radius: 30px;
	text-align: center;
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: #39274F;

	visibility: hidden;
}

#editButton{
	position: absolute;
	bottom: 2vh;
	left: 27.5vw;
	height: 6vh;
	width: 20vw;
	border: 0;
	border-radius: 30px;
	text-align: center;
	background: #87DA2A;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 4vh;
	color: #39274F;

	visibility: hidden;
}

#closeCreationButton{
	position: absolute;
	top: 1vh;
	right: 1vh;
	height: 4vh;
	width: 2vw;
}