html{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

body {
	min-height: 100%;
	margin: 0%;
	/* Violet*/
	background-color: #39274F;
}

header{
	position: fixed;
	min-width: 100%;
	height: 5vh;
	z-index: 1;
	/* Green */
	background: #87DA2A;
}

#logo{
	position: absolute;
	top: 0.5vh;
	left: 0.5vh;
	width: 4.5vh;
	height: 4vh;
	border-radius: 30px;
}

.user{
	position: absolute;
	width: auto;
	height: 5vh;
	right: 18vh; /*сделать выравнивание по правому краю*/
}

#userImg{
	position: relative;
	top: 0.5vh;
	width: 4.5vh;
	height: 4vh;
	border-radius: 30px;
	margin: 0% 1vh 0% 0%;
}

#userName{
	position: fixed;
	top: 1vh;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	/* Violet*/
	color: #39274F;
}

main{
	position: relative; /*сделать так, чтобы header и main соприкосались*/
	width: auto;
}

button{
	position: relative;
	top: 7vh;
	left: 30vw;
	width: 40vw;
	height: 4vh;
	border: 0;
    padding: 0;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	
	/* Violet*/
	color: #39274F;
	/* Green */
	background: #87DA2A;
}

.filters{
	position: fixed;
	left: 73vw;
	top: 7vh;

	display: flex;
	flex-direction: column;
}

.filters input{
	position: relative;
	width: 10vw;
	height: 2vw;
	margin-bottom: 0.25vw;
	border: 0;
    padding: 0;
	/* Green */
	background: #87DA2A;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	/* Violet*/
	color: #39274F;
}

.post{
	position: relative;
	top: 7vh;
	left: 30vw;
	width: 40vw;
	margin: 1vh 0vw;
	/* Green */
	background: #87DA2A;
}

.author{
	position: relative;
	width: 40vw;
	height: 5vw;
	display: inline-block;
}

.authorImg{
	position: absolute;
	width: 3vw;
	height: 3vw;
	margin: 1vw 0vw 1vw 1vw;
}

.authorInfo{
	position: relative;
	left: 5vw;
	width: 32vw;
	height: 3.75vw;
}

.authorName{
	position: relative;
	margin: 1.25vw 0vw 0vw 0vw;

	font-family: Rosario;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25vh;
	/* Violet*/
	color: #39274F;
}

.datetime{
	position: relative;
	margin: 0vw 0vw 0vw 0vw;
	float: bottom;

	font-family: Rosario;
	font-style: normal;
	font-weight: bold;
	font-size: 2.25vh;
	/* Violet*/
	color: #39274F;
}

.post .content{
	position: relative;
	width: 38vw;
	padding: 0vw 1vw 2vh 1vw;
	
	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	/* Violet*/
	color: #39274F;
}

.post .hashTags{
	position: relative;
	width: 38vw;
	padding: 0vh 1vw 2vh 1vw;
	
	font-family: Rosario;
	font-style: italic;
	font-weight: normal;
	font-size: 1vw;
	/* Violet*/
	color: #39274F;
}

/*Исправить положение лайка*/
#likeImg{
	position: absolute;
	bottom: 1vh;
	right: 0.5vw;
	width: 1.25vw;
	height: 1.25vw;
	margin: 0vw 0vw 0vw 0vw;
}

#deleteImg{
	position: absolute;
	top: 0.5vw;
	right: 0.5vw;
	width: 1vw;
	height: 1vw;
}

#editImg{
	position: absolute;
	top: 0.5vw;
	right: 2vw;
	width: 1vw;
	height: 1vw;
}

#updateButton{
	position: relative;
	left: 73vw;
	width: 3vw;
	height: 3vw;
	border-radius: 30px;
}

footer{
	position: relative;
	min-width: 100%;
	height: 5vh;
	margin: 9vh 0% 0% 0%;
	text-align: center;
}

span{
	position: relative;
	margin: 0vw 1vw;

	font-family: Rosario;
	font-style: normal;
	font-weight: normal;
	font-size: 3vh;
	/* Green */
	color: #87DA2A;
}